@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.table th {
    vertical-align: text-top;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.table td {
    vertical-align: middle;
    background-color: transparent;
}

.table {
    --bs-table-border-color: transparent;
    table-layout: auto;
    width: 100%;
}

.cursor {
    cursor: pointer;
}

.checkbox {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
}

.checkbox::before {
    content: '\2713';
    color: grey;
    position: absolute;
    font-size: 20px;
    top: 0;
    left: 0;
}

.checkbox:checked::before {
    color: blue;
    display: block;
}


.border-right {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.unit {
    color: gray;
    font-size: 0.9em;
}

.unit-data {
    border: 2px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    text-align: center;
    margin: 5px;
}

table {
    border-collapse: separate;
}

.table-container {
    height: 80vh;
    overflow-y: auto;
    border: 1px solid #ccc;
}

.unit-data+.unit-data {
    margin-left: 10px;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#invoiceTable {
    height: 50vh;
    overflow-y: auto;
    table-layout: fixed;
}

.table th,
.table td {
    width: fit-content;
    text-align: center;
}

.table th:nth-child(1),
.table td:nth-child(1),
.table th:nth-child(2),
.table td:nth-child(2) {
    width: 50px;
}





.nav-btn {
    background-color: transparent;
    border: none;
    margin: 5px;
    cursor: pointer;
}

.selected {
    background-color: #e6e8ff;
}